@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ripple {
    0% {
      background-color: transparent;
    }
    30% {
      background-color: var(--tw-bg-opacity, 1);
    }
    60% {
      background-color: transparent;
    }
    100% {
      background-color: transparent;
    }
  }